# Beginner Python Questions
Topics: variables, data types, arithmetic operators, print statement

## 1. Calculate the Total Bill
A restaurant bill is ₹450. GST is 18%. Calculate the final bill amount.

In [6]:

rest_bill=450
tax=0.18
final_bill=rest_bill+tax
print("the final bill = " ,final_bill)

the final bill =  450.18

grocery bill

## 2. Combine Two Numbers
Create two variables `a = 7` and `b = 3` and compute sum, difference, product, and a^b.

In [8]:
a=7
b=3
sum=a+b
diff=a-b
pro=a*b
power=a**b
print("sum =",sum)
print("difference =",diff)
print("product=",pro)
print("power=",power)

sum = 10
difference = 4
product= 21
power= 343

## 3. Temperature Converter
Convert 36°C to Fahrenheit using F = (C * 9/5) + 32.

In [16]:
temp=36
f=(temp*9/5)+32
print("coversion =" ,f)

coversion = 96.8

## 4. Movie Ticket Cost Calculator
Movie ticket = 180, popcorn = 120. Calculate total for 2 tickets + 1 popcorn and 3 tickets + 0 popcorn.

In [12]:
movie_ticket=180
popcorn=120
final_bill1=(movie_ticket*2 + popcorn*1 )
final_bill2=(movie_ticket*3 + popcorn*0)
print( "first bill =" ,final_bill1)
print("second bill =" ,final_bill2)

first bill = 480
second bill = 540

## 5. Area of a Circle
Radius = 5. Calculate area using 3.14 * r * r.

In [15]:
radius=5
area_of_circle=3.14*radius*radius
print("area of circle= ", area_of_circle)

area of circle=  78.5