# Python Arithmetic Operators Practice Notebook

# Q1  Addition

Write an expression that adds `8` and `12` and prints the result.

In [2]:
first_number=8
second_number=12
sum=first_number+second_number
print("sum of both numbers =  ", sum)

sum of both numbers =   20

# Q2  Subtraction

Write an expression that subtracts `7` from `20` and prints the result.

In [6]:
first_number=20
second_number=7
print(" 20-7 = ",first_number-second_number)

 20-7 =  13

# Q3  Multiplication

Write an expression that multiplies `6` by `9` and prints the result.

In [7]:
first_number=6
secod_number=9
mul=first_number*secod_number
print("multiplication of 6 and 9 =" ,mul)

multiplication of 6 and 9 = 54

# Q4  Division

Write an expression that divides `45` by `9` and prints the result (normal division).

In [8]:
first_number=45
secod_number=9
div=45/9
print("division of 45 by 9 =",div )

division of 45 by 9 = 5.0

# Q5  Floor Division

Write an expression that floor-divides `45` by `9` and prints the result.

Then floor-divide `50` by `6` and print the result to see how floor division works.

In [11]:
from __future__ import print_function
a=45
b=9
c=a//b
d=50
e=6
f=d//e
print("the floor-divides 45 by 9 = ", c)
print("the floor-divide 50 by 6 =" , f)

the floor-divides 45 by 9 =  5
the floor-divide 50 by 6 = 8

# Q6  Modulus

Write an expression that computes the remainder when `29` is divided by `5` and prints it.

In [14]:
a=29
b=5
c=a%b
print("the remainder =",c)

the remainder = 4

# Q7  Power

Compute `3` raised to the power `4` and print the result using the `**` operator.

In [15]:
# Answer here
num=3
power=4
print("3 raised to the power 4 =" , num**power)

3 raised to the power 4 = 81

# Q8  Unary plus and minus

Assign a positive number to a variable `x` and print `+x` and `-x`. Observe the outputs.

In [16]:
# Answer here
x=7

print(+x)
print(-x)

7
-7

# Q9  Combined expression and operator precedence

Without using parentheses, write an expression that computes `5 + 3 * 2` and prints the result. Then add parentheses to change the order so that addition happens first: `(5 + 3) * 2`.

In [17]:
# Answer here
first_expression=5 + 3 * 2
second_expresion=(5 + 3) * 2
print("the first expression =" ,first_expression)
print("the second expression =" ,second_expresion)

the first expression = 11
the second expression = 16

# Q10  Using variables

Assign two variables `a = 15` and `b = 4`. Compute and print **all** arithmetic operations between them: `+`, `-`, `*`, `/`, `//`, `%`, `**`.

In [19]:
a=15
b=4
one=a+b
two=a-b
three=a*b
four=a/b
five=a//b
six=a%b
seven=a**b
print(f" the all arithmetic operations on variable a and b are  a+b={one} , a-b={two}, a*b={three} , a/b={four} ,a//b={five} ,a%b={six} ,a**b={seven} ")

 the all arithmetic operations on variable a and b are  a+b=19 , a-b=11, a*b=60 , a/b=3.75 ,a//b=3 ,a%b=3 ,a**b=50625

# Q11 - Compound assignment

Start with `n = 10`. Use compound assignment operators to:
- add 5 (`n += 5`), print
- multiply by 2 (`n *= 2`), print
- subtract 4 (`n -= 4`), print
(Place each statement so students can see the updated `n` after each operation.)

In [22]:
n=10
print(n)
n+=5
print(n)
n*=2
print(n)
n-=4
print(n)

10
15
30
26

# Q12  Swapping values (without a third variable)

Given `x = 3` and `y = 7`, swap their values using Python tuple assignment and print `x` and `y` after swapping.

In [23]:

x=3
y=7
x,y=y,x
print("x =", x)
print("y =" ,y)

x = 7
y = 3

# Q13 - Input: Sum of two numbers

Ask the user to input two numbers (integers). Add them and print `Sum: <result>`.

In [31]:

a=float(input("enter first numbers " ))
b=float(input("enter second number "))
sum=a+b
print("sum =" , sum)

enter first numbers 43
enter second number 4.4
sum = 47.4

# Q14 - Input: Average of three numbers

Ask the user to input three numbers (floats allowed). Compute their average and print `Average: <result>`.

In [36]:

a=float(input("enter first number ="))
b=float(input("enter second number ="))
c=float(input("enter third number ="))
sum=a+b+c
avg=sum/3
print("average of three numbers = " ,avg)

enter first number =44.5
enter second number =43.5
enter third number =45
average of three numbers =  44.333333333333336

# Q15 - Input: Circle calculations

Ask the user to input the radius of a circle (float). Compute and print:
- Circumference = `2 * 3.14159 * radius`
- Area = `3.14159 * radius ** 2`

In [37]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
r=float(input("enter radius of circle = "))
c=2*3.14159*r
area_of_radius=3.14159*r**2
print("circumference of radius = ", c)
print("area of rdius =" ,area_of_radius)

enter radius of circle = 7.2
circumference of radius =  45.238896
area of rdius = 162.8600256

# Q16 - Input: Convert total seconds to hours, minutes, seconds

Ask the user to input a total number of seconds (integer). Convert it to hours, minutes, and seconds and print as `H:M:S`.

In [38]:
total_seconds=int(input("enter total seconds = "))
hours=total_seconds//3600
remaining=total_seconds%3600
minutes=remaining//60
seconds=remaining%60
print("hours:",hours)
print("minutes:",minutes)
print("seconds:",seconds)

enter total seconds = 7265
hours: 2
minutes: 1
seconds: 5

# Q17 - Input: Simple interest calculation

Ask user for `principal`, `rate` (annual percent), and `time` (years). Compute simple interest as `(principal * rate * time) / 100` and print `Interest: <result>`.

In [41]:
prin=int(input("enter principal "))
rat=int(input("enter rate= "))
tim=int(input("enter time ="))
sm=(prin*rat*tim)/100
print("simple interest =", sm)

enter principal 10000
enter rate= 2
enter time =5
simple interest = 1000.0