# Python Operators Practice Notebook

Each question is followed by its solution in the next code cell.
Difficulty level: Easy to Medium.

## Arithmetic Operators

Q1. Add two numbers a = 10 and b = 5.

In [1]:
a=10
b=5
print(a+b)

15

Q2. Find the remainder when 17 is divided by 4.

In [2]:
a=17
b=4
print(a/b)

4.25

Q3. Calculate 3 raised to the power 4.

In [3]:
a=3
print(a**4)

81

## Assignment Operators

Q4. Assign 10 to x and add 5 to it using assignment operator.

In [5]:
x=10
print(x+5)

15

Q5. Assign 20 to y and multiply it by 2 using assignment operator.

In [6]:
y=20
print(y*2)

40

Q6. Assign 15 to z and subtract 7 using assignment operator.

In [7]:
z=15
print(z-7)

8

## Comparison Operators

Q7. Check if 10 is greater than 5.

In [8]:
a=10
b=5
print(a>b)

True

Q8. Check if 7 is equal to 9.

In [9]:
a=7
b=9
print(a==b)

False

Q9. Check if 8 is not equal to 3.

In [10]:
a=8
b=3
print(a!=b)

True

## Logical Operators

Q10. Check if 5 > 2 and 10 > 3.

In [11]:
a=5>2
b=10>3
print(a and b)

True

Q11. Check if 5 > 10 or 3 < 7.

In [12]:
print(5>10 or 3<7)

True

Q12. Use not operator on condition 10 > 5.

In [13]:
print(not(10>5))

False

## Identity Operators

Q16. Check if a and b refer to the same object.
Let a = 10, b = 10.

In [14]:
a=10
b=10
print(a is b)

True

Q18. Compare identity of two variables c and d where c = d = 5.

In [15]:
c=5
d=5
print(c==d)

True

## Membership Operators

Q19. Check if 3 is present in the list [1,2,3,4].

In [24]:
print(3 in (1,2,3,4))

True

Q20. Check if 'a' is not present in the string 'python'.

In [27]:
print('a' in 'python')

False

Q21. Check if 10 is in the tuple (5, 10, 15).

In [23]:
print(10 in(5,10,15))

True