Q1. Print numbers from 1 to 20 using while loop.

Approach:
- Initialize a variable
- Use while condition
- Increment inside loop

In [1]:
a=1
while a<=20:
  print(a)
  a=a+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

Q2. Print even numbers till 50 using while loop.

Approach:
- Start from 2
- Increment by 2
- Stop at 50

In [2]:
a=2
while a<=50:
  print(a)
  a=a+2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

Q3. Print multiplication table of 5.

Approach:
- Initialize counter
- Multiply inside loop

In [3]:
num=5
a=1
while a<=10:
  print(f" {num} * {a} = {num*a}")
  a=a+1

 5 * 1 = 5
 5 * 2 = 10
 5 * 3 = 15
 5 * 4 = 20
 5 * 5 = 25
 5 * 6 = 30
 5 * 7 = 35
 5 * 8 = 40
 5 * 9 = 45
 5 * 10 = 50

Q4. Find sum of numbers from 1 to n.

Approach:
- Take input n
- Add numbers in loop

In [5]:
n=int(input("enter no.."))
i=1
sum=0
while i<=n:
  sum=sum+i
  i=i+1
print(sum)

enter no..10
55

Q5. Reverse a number using while loop.

Approach:
- Extract last digit
- Build reversed number

In [18]:
n=int(input("enter any number..."))
rev=0
temp=n
while temp>0:
  digit=temp%10
  rev=rev*10+digit
  temp//=10
print("reversed number is ", rev)

enter any number...12345
reversed number is  54321

Q6. Count digits in a number.

Approach:
- Divide number by 10 repeatedly
- Count iterations

In [13]:
num=int(input("enter number.."))
count=0
while num>0:
  num=num//10
  count+=1

print(count)

enter number..1234
4

Q7. Check if a number is palindrome.

Approach:
- Reverse number
- Compare with original

In [17]:
var= int(input())
new = var
res=0
while var>0:
  temp = var % 10
  res = res*10 + temp
  var = var // 10
print(res)
if new==res:
  print("Palindrome")
else:
  print("Not Palindrome")

1323211
1123231
Not Palindrome

Q8. Guess the number game.

Approach:
- Use while loop
- Continue until correct guess

In [20]:
secret_number=123321
var=int(input("guess the number..."))
while secret_number!=var:
  print(" wrong gues...")
  var=int(input("try again..."))

print("right guess")

guess the number...12345
 wrong gues...
try again...123321
right guess

Submission link for this assignment -